main{
    width: 100vw;
}
.fakeHeader{
    height: 3rem;
    width: 100%;
}

.topBar{
    position: fixed;
    top:0;
}
.page{
    display: flex;
    flex-direction: column;
}
.insidePage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid white; */
}
.cover{
    height: 13rem;
    width: 95%;
    max-width: 25rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 3px white;
    color: white;
    margin: 0.5rem;
    flex-shrink: 0;
}
.detail{
    height: 2rem;
    width: 95%;
    place-self: center;
    display: flex;
    align-items: center;
}
.approve{
    height: 2.4rem;
    width: 95%;
    border: 2px solid rgb(86, 243, 86);
    background-color: rgb(86, 243, 86);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}
@media (max-width:680px){
    .topBar{
        font-size: 1rem;
    }
    .cover{
        font-size: 0.9rem;
    }
    .insidePage{
        flex-direction: column;
    }
}