<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/deposit.css">
    <link rel="stylesheet" href="/stylesheets/boiler.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#007bff">
</head>
<body>
    <main>
        <div class="header">
            <div class="logo back" id="wallet">
                <img id="home" src="https://cdn-icons-png.flaticon.com/128/3114/3114883.png" alt="">
            </div>
            <div class="support">
            </div>
            <div class="greet">
                <p class="big">Buy Coins</p>
            </div>
            <div class="notification">
                <!-- <img src="https://cdn-icons-png.flaticon.com/128/2311/2311524.png" alt=""> -->
            </div>
        </div>
        <div class="fakeHeader"></div>
        <div class="option">
            <div class="optionPart1">
                <div class="getwayName">TranzUPI</div>
                <div class="detail">5 INR = 5 Max coin : Take screenshort of Qr code and pay on that Qr within 2 minutes</div>
            </div>
            <div class="optionPart2">5 INR</div>
        </div>
        <div class="option">
            <div class="optionPart1">
                <div class="getwayName">TranzUPI</div>
                <div class="detail">5 INR = 5 Max coin : Take screenshort of Qr code and pay on that Qr within 2 minutes</div>
            </div>
            <div class="optionPart2">10 INR</div>
        </div>
        <div class="option">
            <div class="optionPart1">
                <div class="getwayName">TranzUPI</div>
                <div class="detail">5 INR = 5 Max coin : Take screenshort of Qr code and pay on that Qr within 2 minutes</div>
            </div>
            <div class="optionPart2">15 INR</div>
        </div>
        <div class="option">
            <div class="optionPart1">
                <div class="getwayName">TranzUPI</div>
                <div class="detail">5 INR = 5 Max coin : Take screenshort of Qr code and pay on that Qr within 2 minutes</div>
            </div>
            <div class="optionPart2">30 INR</div>
        </div>
        <div class="option">
            <div class="optionPart1">
                <div class="getwayName">TranzUPI</div>
                <div class="detail">5 INR = 5 Max coin : Take screenshort of Qr code and pay on that Qr within 2 minutes</div>
            </div>
            <div class="optionPart2">40 INR</div>
        </div>
        <div class="option">
            <div class="optionPart1">
                <div class="getwayName">TranzUPI</div>
                <div class="detail">5 INR = 5 Max coin : Take screenshort of Qr code and pay on that Qr within 2 minutes</div>
            </div>
            <div class="optionPart2">50 INR</div>
        </div>
        <div class="option">
            <div class="optionPart1">
                <div class="getwayName">TranzUPI</div>
                <div class="detail">100 INR = 5 Max coin : Take screenshort of Qr code and pay on that Qr within 2 minutes</div>
            </div>
            <div class="optionPart2">200 INR</div>
        </div>
        <div class="option">
            <div class="optionPart1">
                <div class="getwayName">TranzUPI</div>
                <div class="detail">5 INR = 5 Max coin : Take screenshort of Qr code and pay on that Qr within 2 minutes</div>
            </div>
            <div class="optionPart2">300 INR</div>
        </div>
        <div class="option">
            <div class="optionPart1">
                <div class="getwayName">TranzUPI</div>
                <div class="detail">5 INR = 5 Max coin : Take screenshort of Qr code and pay on that Qr within 2 minutes</div>
            </div>
            <div class="optionPart2">400 INR</div>
        </div>
    </main>
    <script src="/javaScripts/back.js"></script>
    <script src="/javaScripts/boiler.js"></script>
    <script src="/script.js"></script>
    
</body>
</html>