<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/earn.css">
    <link rel="stylesheet" href="/stylesheets/boiler.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#007bff">
</head>
<body>
    <main>
        <div class="header">
            <div class="logo">
                <img src="https://cdn-icons-png.flaticon.com/128/8541/8541807.png" alt="">
            </div>
            <div class="support">
                <img src="https://cdn-icons-png.flaticon.com/128/10439/10439810.png" alt="">
            </div>
            <div class="greet">
                <p>Wellcome Back,</p>
                <p class="big">Max Battle</p>
            </div>
            <div class="notification">
                <img src="https://cdn-icons-png.flaticon.com/128/1827/1827370.png" alt="">
            </div>
        </div>
        <div class="fakeHeader"></div>
        
        <div class="refer">
            <div class="image">
                <img src="https://cdn-icons-png.flaticon.com/128/1208/1208232.png" alt="">
            </div>
            <div class="text">
                <h2>Refer and Earn</h2>
                <p>Invite your friend to the app and Earn Coins!</p>
            </div>
        </div>

        <div class="fakeHeader"></div>
        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox earn" id="earn">
                <img src="https://cdn-icons-png.flaticon.com/128/2958/2958733.png" id="earn" alt="">
                <p id="earn">Earn</p>
            </div>
            <div class="footerBox home" id="home">
                <img src="https://cdn-icons-png.flaticon.com/128/263/263115.png" id="home" alt="">
                <p id="home" >Home</p>
            </div>
            <div class="footerBox center wallet" id="wallet">
                <img src="https://cdn-icons-png.flaticon.com/128/2746/2746064.png" id="wallet" alt="">
                <p id="wallet">Wallet</p>
            </div>
            <div class="footerBox leadboard" id="leadboard">
                <img src="https://cdn-icons-png.flaticon.com/128/819/819590.png" id="leadboard" alt="">
                <p id="leadboard">Leadboard</p>
            </div>
            <div class="footerBox profile" id="profile">
                <img src="https://cdn-icons-png.flaticon.com/128/1144/1144760.png" id="profile" alt="">
                <p id="profile">Profile</p>
            </div>
        </div>

        </div>
    </main>
    <script src="/javaScripts/footer.js"></script>
    <script>
        let refer = document.querySelector(".refer");
        refer.addEventListener("click",function(){
            window.location.href = "/refer";
        })
    </script>
    <script src="/javaScripts/boiler.js"></script>
    <script src="/script.js"></script>
</body>
</html>