<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="stylesheet" href="/stylesheets/editProfile.css">
    <link rel="stylesheet" href="/stylesheets/boiler.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#007bff">
</head>
<body>
    <main>
        <div class="header">
            <div class="logo back" id="wallet">
                <img loading="lazy" style="height: 2rem;width: 2rem;" id="home" src="https://cdn-icons-png.flaticon.com/128/3114/3114883.png" alt="">
            </div>
            <div class="support">
            </div>
            <div class="greet">
                <p class="big">My Profile</p>
            </div>
            <div class="notification">
                <!-- <img loading="lazy" src="https://cdn-icons-png.flaticon.com/128/2311/2311524.png" alt=""> -->
            </div>
        </div>
        <div class="fakeHeader"></div>
        <div id="pageLoader">
            <div class="skeleton-card">
                <div class="skeleton-thumbnail"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-text short"></div>
            </div>
            <div class="skeleton-card">
                <div class="skeleton-thumbnail"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-text short"></div>
            </div>
    </div>
    <div class="page">
        <div class="image">
            <img loading="lazy" src="https://cdn-icons-png.flaticon.com/128/4202/4202839.png" alt="">
        </div>
        <form action="/otp" method="post">
            <div class="inputBox">
                <input class="input" type="text" name="gameName" id="gameName" placeholder="" value="<%=user.gameName%>">
                <label for="gameName">Game Name</label>
            </div>
            <div class="inputBox">
                <input class="input" type="text" name="gameId" id="gameId" placeholder="" value="<%=user.gameId%>">
                <label for="gameId">Game Id</label>
            </div>
            <div class="inputBox">
                <input class="input" type="text" name="username" id="username" placeholder="" value="<%=user.username%>" disabled>
                <label for="username">username</label>
            </div>
            
            <div class="inputBox">
                <input class="input" type="email" name="email" id="email" placeholder=""value="<%=user.email%>" disabled>
                <label for="email" >Email-Id</label>
            </div>
            <div class="payAndJoin">Save</div>
            <div class="inputBox">
                <input class="input" type="password" name="password" id="password" placeholder="">
                <label for="password">Old Password</label>
            </div>
            <div class="inputBox">
                <input class="input" type="password" name="password" id="password" placeholder="">
                <label for="password">New Password</label>
            </div>
            
        </form>

        <div class="payAndJoin">Reset</div>
    </div>
        
    </main>
    <script src="/javaScripts/back.js"></script>
    <script src="/javaScripts/boiler.js"></script>
    <script src="/javaScripts/register.js"></script>
    <script src="/script.js"></script>

</body>
</html>