<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/faq.css">
    <link rel="stylesheet" href="/stylesheets/boiler.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#007bff">
</head>
<body>
    <main>
        <div class="disconnect">
            <img src="/images/disconnect.webp" alt="">
        </div>
        <div class="header">
            <div class="logo back" id="wallet">
                <img loading="lazy" style="height: 2rem;width: 2rem;" id="home" src="https://cdn-icons-png.flaticon.com/128/3114/3114883.png" alt="">
            </div>
            
            <div class="greet">
                <p class="big">FAQ</p>
            </div>
            <div class="notification">
                <!-- <img loading="lazy" src="https://cdn-icons-png.flaticon.com/128/2311/2311524.png" alt=""> -->
            </div>
        </div>
        <div class="fakeHeader"></div>
        <div class="issueCover">
            <details>
                <summary>Why i am removed from room ?</summary>
                <p>You must have an id with level more than 40, and headshort rate is less than 70, and must download map before match timing</p>
            </details>
            <details>
                <summary>When will i get buying Max coins</summary>
                <p>You will get tou Max coins within second or few minutes</p>
            </details>
            <details>
                <summary>My issue is not mentioned</summary>
                <p>please contact support team  or fill the feedback form </p>
            </details>
        </div>
    </main>
    <script src="/javaScripts/back.js"></script>
    <script src="/javaScripts/boiler.js"></script>
    <script type="module" src="/script.js"></script>

</body>
</html>