<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#007bff">
</head>
<body>
    <main>
        <div class="topBar">Max Battle</div>
        <pre class="quate">"Show your gameplay
             and earn rewards"
        </pre>
        <div class="wellcome">Wellcome</div>
        <form action="/home" method="get">
            <div class="inputBox">
                <input class="input" type="email" name="email" id="email" placeholder="">
                <label for="email">Email-Id</label>
            </div>
            <div class="inputBox">
                <input class="input" type="password" name="password" id="password" placeholder="">
                <label for="password">Password</label>
            </div>
            
        </form>

        <div class="fakeButton">
            <div class="lastOption"><p>Don't have account? </p> <a href="/register"> Register</a></div>
        </div>
        <div class="payAndJoin">Login</div>
    </main>
    <script src="/javaScripts/register.js"></script>
    <script src="/javaScripts/boiler.js"></script>
    <script src="/script.js"></script>

</body>
</html>