<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#007bff">
</head>
<body>
    <div class="loader"></div>
    <main>
        <div class="topBar">Max Battle</div>
        <pre class="quate">"Show your gameplay
             and earn rewards"
        </pre>
        <div class="wellcome">Wellcome</div>
        <form action="/login" method="post">
            <div class="inputBox">
                <input class="input" type="email" name="email" id="email" placeholder="" required>
                <label for="email">Email-Id</label>
            </div>
            <div class="inputBox">
                <input class="input" type="password" name="password" id="password" placeholder="" required>
                <label for="password">Password</label>
            </div>
            <input type="submit" class="payAndJoin" value="Login">
        </form>
        <a style="place-self: center;margin-top: 0.4rem;" href="/formatePassword">formate password</a>
        <div class="fakeButton">
            
            <div class="lastOption"><p>Don't have account? </p> <a href="/register"> Register</a></div>
        </div>
    </main>
     <script>
        let loader = document.querySelector(".loader");
        let form = document.querySelector("form");
        form.addEventListener("submit",function(){
            document.querySelector("main").style.display = "none";
            loader.style.display = "block";
            setTimeout(function(){
                document.querySelector("main").style.display = "flex";
                loader.style.display = "none";
            },4000)
        })
        


     </script>
    <script src="/javaScripts/register.js"></script>
    <script src="/javaScripts/boiler.js"></script>
    <script src="/script.js"></script>

</body>
</html>
