<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/upcomming.css">
    <link rel="stylesheet" href="/stylesheets/boiler.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#007bff">
</head>
<body>
    <main>
        <div class="header">
            <div class="logo back" id="wallet">
                <img id="home" src="https://cdn-icons-png.flaticon.com/128/3114/3114883.png" alt="">
            </div>
            <div class="support">
            </div>
            <div class="greet">
                <p class="big">Ongoing</p>
            </div>
            <div class="notification">
                <!-- <img src="https://cdn-icons-png.flaticon.com/128/2311/2311524.png" alt=""> -->
            </div>
        </div>
        <div class="fakeHeader"></div>
        
        <div class="tournamentResult">
            <div class="part1">
                <div class="part1Image">
                    <img src="https://theesports.club/assets/logo/tec.svg" alt="">
                </div>
                <div class="part1Detail">
                    <div class="discription">FFM SOLO TOURNAMENT lorem10</div>
                    <div class="date">Time : 18/06/2025 at 02:30 PM</div>
                </div>
            </div>
            <div class="tournamentDetail">
                <div class="detail">
                    <div class="detailPart">PRIZE POOL</div>
                    <div class="detailPart">PER KILL</div>
                    <div class="detailPart">ENTRY FEE</div>
                </div>
                <div class="detail">
                    <div class="detailPart bold">700</div>
                    <div class="detailPart bold">12</div>
                    <div class="detailPart bold">15</div>
                </div>
                <div class="detail">
                    <div class="detailPart">TYPE</div>
                    <div class="detailPart">VERSION</div>
                    <div class="detailPart">MAP</div>
                </div>
                <div class="detail">
                    <div class="detailPart bold">SOLO</div>
                    <div class="detailPart bold">TPP</div>
                    <div class="detailPart bold">BERMUNDA</div>
                </div>
                <div class="lastBar">
                    <div class="joinButton bigWidth">INFO</div>
                </div>
                    
                    <div class="joinButton">JOIN</div>
                </div>
            </div>
        </div>
        
        <div class="fakeFooter"></div>
    </main>
    <script src="/javaScripts/back.js"></script>
    <script src="/javaScripts/tournamentBar.js"></script>
    <script src="/javaScripts/boiler.js"></script>
    <script src="/script.js"></script>

    
</body>
</html>