<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/boiler.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#007bff">
</head>
<body>
    <main>
        <div class="header">
            <div class="logo">
                <img src="https://cdn-icons-png.flaticon.com/128/8541/8541807.png" alt="">
            </div>
            <div class="support">
                <img src="https://cdn-icons-png.flaticon.com/128/10439/10439810.png" alt="">
            </div>
            <div class="greet">
                <p>Wellcome Back,</p>
                <p class="big">Max Battle</p>
            </div>
            <div class="notification">
                <img src="https://cdn-icons-png.flaticon.com/128/1827/1827370.png" alt="">
                <div class="number">3</div>
            </div>
        </div>
        <div class="quate">
                <div class="profileImage">
                    <img src="https://cdn-icons-png.flaticon.com/128/4202/4202839.png" alt="">
                </div>            
        </div>
        <div class="fakeProfileBottom"></div>
        <div class="username">Hariom modi</div>
        <div class="details">
            <div class="detail">
                <div class="count">0</div>
                <p>Match Played</p>
            </div>
            <div class="detail">
                <div class="count">0</div>
                <p>Total Kills</p>
            </div>
            <div class="detail borderNone">
                <div class="count">10</div>
                <p>Max Coin</p>
            </div>
        </div>
        <div class="options">
            <div class="option" id="editProfile">
                <div class="optionLogo" id="editProfile">
                    <img src="https://cdn-icons-png.flaticon.com/128/64/64572.png" alt="" id="myProfile">
                </div>
                <div class="optionName">My Profile</div>
                <div class="optionArrow" id="editProfile">
                    <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png" alt="" id="editProfile">
                </div>
            </div>
            <div class="option" id="wallet">
                <div class="optionLogo">
                    <img src="https://cdn-icons-png.flaticon.com/128/60/60484.png" alt="">
                </div>
                <div class="optionName">My Wallet</div>
                <div class="optionArrow">
                    <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png" alt="">
                </div>
            </div>
            <div class="option" id="myStatistics">
                <div class="optionLogo">
                    <img src="https://cdn-icons-png.flaticon.com/128/7558/7558195.png" alt="">
                </div>
                <div class="optionName">My Statistics</div>
                <div class="optionArrow">
                    <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png" alt="">
                </div>
            </div>
            
            <div class="option" id="contactUs">
                <div class="optionLogo">
                    <img src="https://cdn-icons-png.flaticon.com/128/10439/10439779.png" alt="">
                </div>
                <div class="optionName">Contact us</div>
                <div class="optionArrow">
                    <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png" alt="">
                </div>
            </div>
            
            <div class="option" id="faq">
                <div class="optionLogo">
                    <img src="https://cdn-icons-png.flaticon.com/128/1660/1660165.png" alt="">
                </div>
                <div class="optionName">FAQ</div>
                <div class="optionArrow">
                    <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png" alt="">
                </div>
            </div>
            <div class="option" id="privacyPolicy">
                <div class="optionLogo">
                    <img src="https://cdn-icons-png.flaticon.com/128/11668/11668036.png" alt="">
                </div>
                <div class="optionName">Privacy Policy</div>
                <div class="optionArrow">
                    <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png" alt="">
                </div>
            </div> 
            <div class="option" id="termsAndCondition">
                <div class="optionLogo">
                    <img src="https://cdn-icons-png.flaticon.com/128/10349/10349031.png" alt="">
                </div>
                <div class="optionName">Terms & Condition</div>
                <div class="optionArrow">
                    <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png" alt="">
                </div>
            </div>
            <div class="option" id="logout">
                <div class="optionLogo">
                    <img src="https://cdn-icons-png.flaticon.com/128/4400/4400629.png" alt="">
                </div>
                <div class="optionName">logout</div>
                <div class="optionArrow">
                    <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png" alt="">
                </div>
            </div>
            
            
        </div>
        
        <div class="light">App Version : v1.0</div>

        <div class="fakeHeader"></div>

        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox earn" id="earn">
                <img src="https://cdn-icons-png.flaticon.com/128/2958/2958733.png" id="earn" alt="">
                <p id="earn">Earn</p>
            </div>
            <div class="footerBox home" id="home">
                <img src="https://cdn-icons-png.flaticon.com/128/263/263115.png" id="home" alt="">
                <p id="home" >Home</p>
            </div>
            <div class="footerBox center wallet" id="wallet">
                <img src="https://cdn-icons-png.flaticon.com/128/2746/2746064.png" id="home" alt="">
                <p id="wallet">Wallet</p>
            </div>
            <div class="footerBox leadboard" id="leadboard">
                <img src="https://cdn-icons-png.flaticon.com/128/819/819590.png" id="leadboard" alt="">
                <p id="leadboard">Leadboard</p>
            </div>
            <div class="footerBox profile" id="profile">
                <img src="https://cdn-icons-png.flaticon.com/128/1144/1144760.png" id="profile" alt="">
                <p id="profile">Profile</p>
            </div>
        </div>

        </div>
    </main>
    <script src="/javaScripts/footer.js"></script>
    <script src="/javaScripts/profile.js"></script>
    <script src="/javaScripts/boiler.js"></script>
    <script src="/script.js"></script>

</body>
</html>