<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/start.css">
    <link rel="stylesheet" href="/stylesheets/boiler.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#007bff">
</head>
<body>
    <div class="loader"></div>
    <main>
        <div class="disconnect">
            <img src="/images/disconnect.webp" alt="">
        </div>
        <div class="board">
                <div class="slide">
                    <img loading="lazy" class="boardImage" src="/images/maxBattlePoster.webp" alt="">
                    <img loading="lazy" class="boardImage" src="/images/maxBattlePoster1.webp" alt="fgsefd">
                    <img loading="lazy" class="boardImage" src="/images/maxBattlePoster2.webp" alt="">
                    <img loading="lazy" class="boardImage" src="/images/maxBattlePoster3.webp" alt="">
                    
                </div>
                
            </div>
            <div class="quate">
                <div class="quateHeading">Select A Game</div>
                <p>Select the game you would like to enter a contest for</p>
            </div>
        <div class="trackBar">
            <div class="rectangle active"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
        </div>
        <div class="footer">
            <div class="part">
                <div class="text text1">Don't have account?</div>
                <div class="link1">REGISTER</div>
            </div>
            <div class="part">
                <div class="text text2">Already a user?</div>
                <div class="link2">LOGIN</div>
            </div>
        </div>
    </main>
    <script src="/javaScripts/start.js"></script>
    <script src="/javaScripts/footer.js"></script>
    <script src="/javaScripts/boiler.js"></script>
    <script type="module" src="/script.js"></script>

</body>
</html>