<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/tournamentPayment.css">
    <link rel="stylesheet" href="/stylesheets/boiler.css">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#007bff">
</head>
<body class="disable">
    <main >        
        <div class="part1">
            <div class="amount">
                <img class="smallCoin" src="https://cdn-icons-png.flaticon.com/128/9382/9382295.png" alt="">8</div>
            <div class="options">
                <div class="option1">
                    <div class="optionAmount1"><img class="verySmallCoin" src="https://cdn-icons-png.flaticon.com/128/9382/9382295.png" alt="">3</div>
                    <div class="optionName1">Deposited</div>
                </div>
                <div class="option1">
                    <div class="optionAmount1">
                        <img class="verySmallCoin" src="https://cdn-icons-png.flaticon.com/128/9382/9382295.png" alt="">
                        3</div>
                    <div class="optionName1">Winning</div>
                </div>
                <div class="option1">
                    <div class="optionAmount1">
                        <img class="verySmallCoin" src="https://cdn-icons-png.flaticon.com/128/9382/9382295.png" alt="">
                        3</div>
                    <div class="optionName1">Bonus</div>
                </div>
            </div>
        </div>
        <div class="playerDetail">
            <p>Enter Player Details</p>
            <div class="row row1">
                <div class="column">Team</div>
                <div class="column">Position</div>
                <div class="column">Player Name</div>
            </div>
            <div class="row">
                <div class="column">Team 43</div>
                <div class="column">A</div>
                <div class="column edit">Player1 <img class="verySmallCoin edit" src="https://cdn-icons-png.flaticon.com/128/2985/2985043.png" alt=""> </div>
            </div>
        </div>
        <div class="fee">Total payable =<img class="verySmallCoin" src="https://cdn-icons-png.flaticon.com/128/9382/9382295.png" alt="">13</div>
        <div class="red">You don't have sufficient Max coins</div>
        <div class="footer">
            <div class="button back " id="back" >Cancel</div>
            <div class="button ">Join</div>
        </div>
        <div class="fakeFooter"></div>
        <div class="playerNameJs">
            <div class="nameHeading">Register Your Game</div>
            <form action="">
                <label for="name">Game Username</label>
                <input class="input" type="text" name="" id="name">
            </form>
            <div class="note">Note : Make sure you enter your game username and not character id</div>
            <div class="footerJs">
            <div class="button close" id="back">CANCEL</div>
            <div class="button">NEXT</div>
        </div>
        </div>
    </main>
    <script src="/javaScripts/back.js"></script>
    <script src="/javaScripts/tournamentPayment.js"></script>
    <script src="/javaScripts/boiler.js"></script>
    <script src="/script.js"></script>

</body>
</html>