<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/upcomming.css">
    <link rel="stylesheet" href="/stylesheets/boiler.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#007bff">
</head>
<body>
    <main>
        <div class="header">
            <div class="logo back" id="wallet">
                <img id="home" src="https://cdn-icons-png.flaticon.com/128/3114/3114883.png" alt="">
            </div>
            <div class="support">
            </div>
            <div class="greet">
                <p class="big">FULL MAP</p>
            </div>
            <div class="notification">
                <!-- <img src="https://cdn-icons-png.flaticon.com/128/2311/2311524.png" alt=""> -->
            </div>
        </div>
        <div class="fakeHeader"></div>
        <div class="fakeHeader"></div>
        <div class="topBar">
            <div class="option ongoing" id="ongoing">ONGOING</div>
            <div class="option upcomming select" id="upcomming">UPCOMMING</div>
            <div class="option result" id="result">RESULT</div>
        </div>
        <div class="tournament">
            <div class="image">
                <img src="https://theesports.club/_next/image?url=https%3A%2F%2Fcdn.theesports.club%2FBIG%2520banner%2520%25283%2529-831f3340-85be-4bd7-a5ad-659a16523a6c.png&w=1920&q=75" alt="">
            </div>
            <div class="part1">
                <div class="part1Image">
                    <img src="https://theesports.club/assets/logo/tec.svg" alt="">
                </div>
                <div class="part1Detail">
                    <div class="discription">FFM SOLO TOURNAMENT lorem10</div>
                    <div class="date">Time : 18/06/2025 at 02:30 PM</div>
                </div>
            </div>
            <div class="tournamentDetail">
                <div class="detail">
                    <div class="detailPart">PRIZE POOL</div>
                    <div class="detailPart">PER KILL</div>
                    <div class="detailPart">ENTRY FEE</div>
                </div>
                <div class="detail">
                    <div class="detailPart bold">700</div>
                    <div class="detailPart bold">12</div>
                    <div class="detailPart bold">15</div>
                </div>
                <div class="detail">
                    <div class="detailPart">TYPE</div>
                    <div class="detailPart">VERSION</div>
                    <div class="detailPart">MAP</div>
                </div>
                <div class="detail">
                    <div class="detailPart bold">SOLO</div>
                    <div class="detailPart bold">TPP</div>
                    <div class="detailPart bold">BERMUNDA</div>
                </div>
                <div class="lastBar">
                    <div class="slotPart">
                        <div class="slotBar">
                            <div class="full"></div>
                        </div>
                        <div class="slotLeft">
                            <p>Only 22 spots left</p>
                            <p>26/48</p>
                        </div>
                    </div>
                    
                    <div class="joinButton">JOIN</div>
                </div>
            </div>
        </div>
        <div class="tournament">
            <div class="image">
                <img src="https://theesports.club/_next/image?url=https%3A%2F%2Fcdn.theesports.club%2FBIG%2520banner%2520%25283%2529-831f3340-85be-4bd7-a5ad-659a16523a6c.png&w=1920&q=75" alt="">
            </div>
            <div class="part1">
                <div class="part1Image">
                    <img src="https://theesports.club/assets/logo/tec.svg" alt="">
                </div>
                <div class="part1Detail">
                    <div class="discription">FFM SOLO TOURNAMENT lorem10</div>
                    <div class="date">Time : 18/06/2025 at 02:30 PM</div>
                </div>
            </div>
            <div class="tournamentDetail">
                <div class="detail">
                    <div class="detailPart">PRIZE POOL</div>
                    <div class="detailPart">PER KILL</div>
                    <div class="detailPart">ENTRY FEE</div>
                </div>
                <div class="detail">
                    <div class="detailPart bold">700</div>
                    <div class="detailPart bold">12</div>
                    <div class="detailPart bold">15</div>
                </div>
                <div class="detail">
                    <div class="detailPart">TYPE</div>
                    <div class="detailPart">VERSION</div>
                    <div class="detailPart">MAP</div>
                </div>
                <div class="detail">
                    <div class="detailPart bold">SOLO</div>
                    <div class="detailPart bold">TPP</div>
                    <div class="detailPart bold">BERMUNDA</div>
                </div>
                <div class="lastBar">
                    <div class="slotPart">
                        <div class="slotBar">
                            <div class="full"></div>
                        </div>
                        <div class="slotLeft">
                            <p>Only 22 spots left</p>
                            <p>26/48</p>
                        </div>
                    </div>
                    
                    <div class="joinButton">JOIN</div>
                </div>
            </div>
        </div>
        <div class="tournament">
            <div class="image">
                <img src="https://theesports.club/_next/image?url=https%3A%2F%2Fcdn.theesports.club%2FBIG%2520banner%2520%25283%2529-831f3340-85be-4bd7-a5ad-659a16523a6c.png&w=1920&q=75" alt="">
            </div>
            <div class="part1">
                <div class="part1Image">
                    <img src="https://theesports.club/assets/logo/tec.svg" alt="">
                </div>
                <div class="part1Detail">
                    <div class="discription">FFM SOLO TOURNAMENT lorem10</div>
                    <div class="date">Time : 18/06/2025 at 02:30 PM</div>
                </div>
            </div>
            <div class="tournamentDetail">
                <div class="detail">
                    <div class="detailPart">PRIZE POOL</div>
                    <div class="detailPart">PER KILL</div>
                    <div class="detailPart">ENTRY FEE</div>
                </div>
                <div class="detail">
                    <div class="detailPart bold">700</div>
                    <div class="detailPart bold">12</div>
                    <div class="detailPart bold">15</div>
                </div>
                <div class="detail">
                    <div class="detailPart">TYPE</div>
                    <div class="detailPart">VERSION</div>
                    <div class="detailPart">MAP</div>
                </div>
                <div class="detail">
                    <div class="detailPart bold">SOLO</div>
                    <div class="detailPart bold">TPP</div>
                    <div class="detailPart bold">BERMUNDA</div>
                </div>
                <div class="lastBar">
                    <div class="slotPart">
                        <div class="slotBar">
                            <div class="full"></div>
                        </div>
                        <div class="slotLeft">
                            <p>Only 22 spots left</p>
                            <p>26/48</p>
                        </div>
                    </div>
                    
                    <div class="joinButton">JOIN</div>
                </div>
            </div>
        </div>
        <div class="tournament">
            <div class="image">
                <img src="https://theesports.club/_next/image?url=https%3A%2F%2Fcdn.theesports.club%2FBIG%2520banner%2520%25283%2529-831f3340-85be-4bd7-a5ad-659a16523a6c.png&w=1920&q=75" alt="">
            </div>
            <div class="part1">
                <div class="part1Image">
                    <img src="https://theesports.club/assets/logo/tec.svg" alt="">
                </div>
                <div class="part1Detail">
                    <div class="discription">FFM SOLO TOURNAMENT lorem10</div>
                    <div class="date">Time : 18/06/2025 at 02:30 PM</div>
                </div>
            </div>
            <div class="tournamentDetail">
                <div class="detail">
                    <div class="detailPart">PRIZE POOL</div>
                    <div class="detailPart">PER KILL</div>
                    <div class="detailPart">ENTRY FEE</div>
                </div>
                <div class="detail">
                    <div class="detailPart bold">700</div>
                    <div class="detailPart bold">12</div>
                    <div class="detailPart bold">15</div>
                </div>
                <div class="detail">
                    <div class="detailPart">TYPE</div>
                    <div class="detailPart">VERSION</div>
                    <div class="detailPart">MAP</div>
                </div>
                <div class="detail">
                    <div class="detailPart bold">SOLO</div>
                    <div class="detailPart bold">TPP</div>
                    <div class="detailPart bold">BERMUNDA</div>
                </div>
                <div class="lastBar">
                    <div class="slotPart">
                        <div class="slotBar">
                            <div class="full"></div>
                        </div>
                        <div class="slotLeft">
                            <p>No Spots Left!</p>
                            <p>48/48</p>
                        </div>
                    </div>
                    
                    <div class="joinButton matchFull">MATCH FULL</div>
                </div>
            </div>
        </div>
        <div class="fakeFooter"></div>
    </main>
    <script src="/javaScripts/back.js"></script>
    <script src="/javaScripts/tournamentBar.js"></script>
    <script>
        let joinButton = document.getElementsByClassName("joinButton");
        let tournament = document.getElementsByClassName("tournament");
        for(let i=0;i<joinButton.length;i++){
            tournament[i].addEventListener("click",function(e){
                if(e.target.className =="joinButton"){
                    window.location.href = "/tournament/slot"
                }else{
                    window.location.href = "/tournament/detail"
                }
                
            })
        }
        
    </script>
    <script src="/javaScripts/boiler.js"></script>
    <script src="/script.js"></script>
    
</body>
</html>