main{
    display: flex;
    flex-direction: row;
}
.inputBox{
    background-color: rgb(241, 240, 240);
}
input[type="number"]::-webkit-inner-spin-button{
    display: none;
}
.submit{
    height: 2.5rem;
    width: 90%;
    place-self: center;
    background-color: green;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
}