.refer{
    height: 13rem;
    width:95%;
    place-self: center;
    border-radius: 5px;
    display: flex;
    border: 0.3px solid black;
    margin-top: 1rem;
}
.image{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.image img{
    height:8rem;
    width: 8rem;
}
.text{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}
.text h3{
    text-align: center;
}
.text p{
    font-size: 0.8rem;
    text-align: center;
}

/*Refer.ejs page css*/
.referDetail{
    height: 12rem;
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 0.8rem;
}
.referLogo{
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.referLogo img{
    height: 4rem;
    width: 4rem;
}
h3,.referDetail p{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    text-align: center;
    padding: 0.5rem;
}
.promocode{
    height: 3rem;
    width: 7rem;
    min-width: fit-content;
    min-height: fit-content;
    max-width: 100%;
    max-height: 5rem;
    border: 1px solid black;
    border-style: dashed;
    border-radius: 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
    place-self: center;
    padding: 0.4rem;
}
h4{
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.referNow{
    height: 2.5rem;
    width: 95%;
    border-radius: 5px;
    background-color: rgb(255, 78, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    place-self: center;
}
.referProcess{
    height: 10rem;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    place-self: center;
}
.step{
    height:6rem;
    /* border: 1px solid black; */
    width: calc(100%/3.6);
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.step img{
    height: 2rem;
    width: 2rem;
}
.step p{
    text-align: center;
    padding: 0.1rem;
}
.next{
    height: 6rem;
    width: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.next img{
    height: 1.5rem;
    width: 1.5rem;
}