.image{
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* border: 1px solid black; */
}
.image img{
    height: 6rem;
    width: 6rem;
    box-shadow: 0 0 3px black;
    border-radius: 50%;
}
.text{
    height: 3rem;
    width: 90%;
    place-self: center;
    display: flex;
    align-items: flex-end;
    font-size: 0.9rem;
    opacity: 0.8;
}
.inputBox{
    place-self: center;
    margin-top: 0.4rem;
    opacity: 0.6;
}
.payAndJoin{
    height: 2.5rem;
    width: 90%;
    border-radius: 4px;
    color: white;
    background-color: red;
    border: none;
    font-size: 0.8rem;
    margin-top: 1rem;
}