.footer{
    height: 4rem;
    max-width:100vw;
    width: 30rem;
    /* border: 1px solid black; */
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: white;
}
.footerBox{
    height: 100%;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-wrap: wrap;
    text-align: center;
    font-size: 0.7rem;
    /* border-top: 1px solid black; */
     transition: all linear 10ms;

}

.footerBox:active{
    background-color: gray;
}

/* .center img{
    min-height: 1.8rem;
    min-width: 1.8rem;
    mix-blend-mode: multiply;
    

} */
.amount{
    height: 1.4rem;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.footerBox img{
    height: 1.4rem;
    width: 1.4rem;
}
/* .profile img{
    height: 1.9rem;
    width: 1.9rem;
} */
.fakeFooter{
    height: 5rem;
    width: 100%;
}