.timeOption,.optionHeading,.playerDetail{
    height: 3rem;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.optionHeading{
    border-bottom: 0.5px solid black;
}
.playerDetail{
    height: 2.5rem;
    min-height: fit-content;
}
.week,.month{
    height: 2rem;
    width: 40%;
    border-radius: 4px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option{
    height: 2rem;
    width: calc(100%/4);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    font-size: 0.8rem;
}
.position{
    width: calc(100%/5);
}
.option img{
    height: 2rem;
    width: 2rem;
}
#small{
    height: 1rem;
    width: 1rem;
    margin-bottom: 0.1rem;
    margin-right: 0.1rem;
}
