.topBar{
    height: 2rem;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    max-width: 30rem;
    top: 3.8rem;
    background-color: white;
    z-index: 100;
}
.option{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100%/3);
    font-size: 0.8rem;
    font-weight: 600;
}
.select{
    border-bottom:3px solid black ;
}

.tournament{
    height: 28rem;
    width: 95%;
    border: 1.5px solid black;
    place-self: center;
    margin: auto;
    margin-top: 0.5rem;
    border-radius: 8px;
    overflow: hidden;
}
.image{
    height: 12rem;
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
}
.image img{
    height: 100%;
    width: 100%;
}
.part1{
    height: 5rem;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}
.part1Image{
    height: 100%;
    width: 5rem;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.part1Image img{
    height: 6rem;
    width: 6rem;
}
.part1Detail{
    height: 100%;
    width: fit-content;
    /* border: 1px solid black; */
}
.discription,.date{
    height: 70%;
    width: 100%;
    /* border: 1px solid black; */
    font-size: 0.9rem;
    padding-left: 0.5rem;
    overflow: hidden;
    font-weight: 600;
    padding: 0.3rem;
}
.date{
    opacity: 0.7;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    height: 30%;
}
.tournamentDetail{
    height: 7rem;
    width: 100%;
    /* border: 1px solid black; */
}
.detail{
    height: calc(100%/4);
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}
.detailPart{
    height: 100%;
    width: calc(100%/3);
    border: 0.5px solid black 0.8;
    font-size: 0.8rem;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bold{
    font-weight: 600;
    opacity: 1;
    font-size: 0.8rem;
}
.lastBar{
    height: 4rem;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.slotPart{
    height: 100%;
    width: 60%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slotBar{
    height: 3px;
    width: 90%;
    /* border: 0.5px solid black; */
    background-color: rgba(128, 128, 128, 0.324);

}
.full{
    height: 100%;
    /* width: 10%; */
    background-color: rgb(255, 0, 0);
}
.slotLeft{
    height: 1rem;
    width: 90%;
    /* border: 0.5px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.6rem;
    opacity: 0.7;
}
.joinButton,.join{
    height: 2rem;
    width: 7rem;
    border: 1.5px solid rgb(37, 177, 198);
    color: rgb(37, 177, 198);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}


.matchFull{
    opacity: 0.7;
    border: 1px solid gray;
    color: gray;
}


/*result page css*/

.tournamentResult{
    height: 16rem;
    width: 95%;
    border: 1.5px solid black;
    place-self: center;
    margin: auto;
    margin-top: 0.5rem;
    border-radius: 8px;
    overflow: hidden;
}

.notButton{
    height: 2rem;
    width: 7rem;
    border: 1.5px solid red;
    color: rgb(37, 177, 198);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.bigWidth{
    width: 90%;
}

/*my statistics css*/

.tableHeading{
    height: 2.5rem;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sNo{
    height: 100%;
    width: 10%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.matchInfo{
    height: 100%;
    width: 60%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.paid,.won{
    height: 100%;
    width: 15%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 4.5rem;
    width: 95%;
    box-shadow: 0 0 2px black;
    place-self: center;
    margin: auto;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
.green{
    color: green;
}