.option{
    height: 6rem;
    width: 90%;
    display: flex;
    border-bottom: 0.5px solid black;
    place-self: center;
    margin-top: 0.4rem;
}
.optionPart1{
    height: 100%;
    width: 60%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    padding-left: 0.3rem;
}
.paymentMode{
    height: 2rem;
    width: 80%;
    font-size: 0.9rem;
    font-weight: 600;
    /* border: 0.5px solid black; */
    display: flex;
    align-items: center;
}
.image{
    height: 100%;
    width: 6rem;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    height: 4rem;
    width: 4rem;
}
.optionPart2{
    height: 100%;
    width: 20%;
    /* border: 0.5px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(167, 148, 4);
    font-weight: 900;
    font-size: 0.9rem;
    color: white;
    text-align: center;
}